* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  background-color: whitesmoke;
  height: 100%;
}

/* header */

header {
  display: flex;
  gap: 100px;
  padding: 15px 0;
  position: fixed;
  top: 0.1px;
  width: 100%;
  height: 50px;
  transition: 400ms ease;
  background: none;
  z-index: 3;
  backdrop-filter: blur(6px);
}

header #lgo {
  text-decoration: none;
  font-weight: bold;
}

#log {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 20px;
}

#logo {
  display: flex;
  gap: 10px;
}

#name {
  width: 130px;
  margin-left: 40px;
  color: rgb(12, 22, 217);
  margin-top: -20px;
}

#contact {
  display: flex;
  gap: 10px;
  width: 80%;
}

.menu {
  right: 0;
  margin-top: 50px;
  display: none;
}

.menu img {
  background-color: rgb(26, 51, 103);
  height: 30px;
  border-radius: 5px 20px 0px 5px;
  padding: 5px;
}

.menu p {
  margin-top: -5px;
  margin-left: -5px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  font-family: monospace;
}

#we,
#soc2,
#ert {
  background: none;
  font-size: 20px;
  border: none;
  border-right: 2px solid black;
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer;
  background-clip: text;
  font-weight: 900;
  color: rgb(228, 231, 95);
  transition: 500ms linear;
}

header.transparent {
  background-color: transparent;
}

header.white-bg {
  background-color: rgb(11, 4, 55);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid white;
  gap: 400px;
}


/* header end */

#dropdown:hover #social {
  display: block;
  position: absolute;
  opacity: 1;
  height: 100px;
}

#dropdown2:hover #loc1 {
  display: block;
  position: absolute;
  opacity: 1;
  height: 100px;
}


#loc1 {
  display: none;
  display: block;
  border: 2px solid white;
  border-radius: 10px;
  opacity: 0;
  width: 150px;
  height: 20px;
  padding: 20px;
  background-color: rgb(25, 25, 89);
  transition: 500ms ease;
}

#loc1 a {
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-size: 1em;
  padding: 10px;
  transition: 300ms ease;
  font-weight: bold;
}


#social {
  position: absolute;
  background-color: rgb(25, 25, 89);
  border: 2px solid white;
  border-radius: 10px;
  opacity: 0;
  height: 0;
  transition: 500ms ease;
  padding: 20px;
  list-style: none;
  backdrop-filter: blur(10px);
}

#social li {
  margin-bottom: 10px;
}

#social a {
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 20px;

}

#lo:hover {
  background: linear-gradient(45deg, #ff0000, #ff7f00, #ffcc00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#wa:hover {
  background: linear-gradient(45deg, #25D366, #25D366);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}

#fa:hover {
  background: linear-gradient(45deg, #1877F2, #1877F2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}

#in:hover {
  background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}

#ti:hover {
  background: linear-gradient(45deg, #FE2C55, #FE2C55);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#wa,
#in,
#ti,
#fa {
  transition: 500ms ease-in-out;
}

#more {
  position: relative;
  height: 600px;
  width: 100%;
  background: url(images/back2.png);
  background-position: center;
  background-size: cover;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -120px;
}

#more h2 {
  background: linear-gradient(to right, rgb(220, 184, 0), rgb(253, 1, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  transform: translateY(300px);
  font-size: 3rem;
}

.info {
  width: 100%;
}

#it2 {
  text-align: center;
}


#det1 {
  display: flex;
  padding: 30px;
  border-bottom: 0.1px solid black;
  margin: 10px;
}

#det1 img {
  width: 20em;
}

#det1 p {
  width: 100%;
  font-size: 2em;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin-top: 100px;
}

#det2 {
  display: flex;
  padding: 30px;
  border-bottom: 0.1px solid black;
  margin: 10px;
}

#det2 img {
  width: 30em;
  border-radius: 20px;
}

#det2 p {
  width: 100%;
  font-size: 2em;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin-top: 100px;
}

#det3 {
  display: flex;
  padding: 30px;
  border-bottom: 0.1px solid black;
  margin: 10px;
}

#det3 img {
  width: 30em;
  border-radius: 20px;
}

#det3 p {
  width: 100%;
  font-size: 2em;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin-top: 100px;
}


#det1,
#det2,
#det3 {
  transform: scale(95%);
  transition: 500ms linear;
  animation: float-in 5s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

#det1 img,
#det2 img,
#det3 img {
  transition: 500ms ease;
  transform: scale(85%);
}

#det1 img:hover,
#det2 img:hover,
#det3 img:hover {
  transform: scale(100%);
}

@keyframes float-in {
  from {
    opacity: 0;
    scale: 0.5;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes jump-in {
  from {
    transform: translate(100%);
  }

  to {
    transform: translate(0);
  }
}


main {
  margin-top: 5px;
}

.ber2 {
  display: flex;
  padding: 20px;
  height: 300px;
  animation: float-in 5s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  margin-bottom: 600px;
  position: relative;
}

.ber2 img {
  width: 30em;
  border-radius: 20px;
}

.ber3 {
  display: block;
}

.ber3 h2 {
  width: 100%;
  font-size: 2em;
  text-align: center;
}

.ber3 p {
  text-align: center;
}

/* contact */
#contat2 {
  background: url(images/contact2.png);
  background-size: cover;
  overflow: hidden;
}

#contat2 h3,
#contat2 p {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 28px;
  position: relative;
  top: 50px;

}

#det4 {
  display: flex;
  margin-top: 200px;
  justify-content: center;
}

form {
  position: relative;
  top: -80px;
}

form input {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid white;
  background: transparent;
  color: #fff;
  font-weight: 500;
  width: 300px;
  backdrop-filter: blur(10px);
}

form textarea {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid white;
  background: transparent;
  color: #fff;
  font-weight: 500;
  width: 630px;
  backdrop-filter: blur(10px);
}

form button {
  padding: 15px;
  text-align: center;
  width: 150px;
  color: white;
  font-weight: bold;
  background-color: rgb(11, 4, 55);
  border: none;
  font-size: 1em;
  border-radius: 10px;
  cursor: pointer;
  transition: 500ms linear;
  transform: scale(90%);
  outline: none;
}

form button:hover {
  background-color: rgb(50, 6, 225);
  transform: scale(100%);
}

footer {
  margin-top: 50px;
  margin-bottom: 100px;
}

#id3 {
  width: 50px;
}

footer h5 {
  text-align: center;
  color: gray;
}

.side-bar {
  height: 460vh;
  top: 0;
  right: 0;
  position: absolute;
  backdrop-filter: blur(10px);
  z-index: 100;
  background: none;
  display: none;
}

.side-bar #contact {
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 80%;
}

#contact img{
  cursor: pointer;
}


.side-bar #we,
.side-bar #soc2,
.side-bar #ert {
  background: none;
  width: 100%;
  font-size: 20px;
  border: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  cursor: pointer;
  background-clip: text;
  font-weight: bolder;
  transition: 500ms linear;
  color: black;
}

.side-bar #we:hover,
.side-bar #soc2:hover,
.side-bar #ert:hover {
  text-decoration: underline;
  transition: 500ms;
  background: whitesmoke;
  border-radius: 20px;
  border: 1px solid black;
}

.side-bar #social {
  background-color: rgb(25, 25, 89);
  border: 2px solid white;
  border-radius: 10px;
  opacity: 0;
  height: 0;
  width: 120px;
  transition: 500ms ease;
  padding: 20px;
  list-style: none;
  margin-left: 100px;
}



.side-bar #social li {
  margin-bottom: 10px;
}

.side-bar #social a {
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 20px;
}

#dropdown:hover #social {
  position: relative;
  opacity: 1;
  height: 100px;
}

.side-bar #loc1 {
  border: 2px solid white;
  border-radius: 10px;
  opacity: 0;
  width: 150px;
  padding: 20px;
  background-color: rgb(25, 25, 89);
  transition: 500ms ease;
  margin-left: 100px;
}

.side-bar #loc1 a {
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-size: 1em;
  padding: 10px;
  transition: 300ms ease;
  font-weight: bold;
}

.side-bar #dropdown2:hover #loc1 {
  position: relative;
  opacity: 1;
  height: 100px;
}

@media screen and (max-width:460px) {
  .side-bar{
    width: 100%;
  }
}

@media screen and (max-width:600px),
screen and (max-width:768px) {
  #contact {
    display: none;
  }

  .side-bar{
    transition: 1s ease;
  }

  #det1,
  #det2,
  #det3 {
    display: block;
    padding: 30px;
    border-bottom: 0.1px solid black;
    margin: 10px;
    animation: float-in 5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
  }

  #det1 img,
  #det2 img,
  #det3 img {
    width: 20em;
  }

  #det1 p {
    width: 100%;
    font-size: 2em;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 10px;
  }

  .ber2 {
    display: block;
    padding: 20px;
    margin-top: 50px;
    height: 300px;
    animation: float-in 5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
  }

  .ber2 img {
    width: 20em;
    border-radius: 20px;
    margin-left: 32px;
    border: outset;
  }


  .ber3 h2 {
    width: 100%;
    font-size: 2em;
    text-align: center;
  }

  .ber3 p {
    text-align: center;
  }

  #det4 {
    display: flex;
    margin-top: 200px;
    justify-content: center;
  }

  form {
    position: relative;
    top: -80px;
  }

  form input {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid white;
    background: transparent;
    color: #fff;
    font-weight: 500;
    width: 300px;
    backdrop-filter: blur(10px);
  }

  form textarea {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid white;
    background: transparent;
    color: #fff;
    font-weight: 500;
    width: 630px;
    backdrop-filter: blur(10px);
  }

  form button {
    padding: 15px;
    text-align: center;
    width: 150px;
    color: white;
    font-weight: bold;
    background-color: rgb(11, 4, 55);
    border: none;
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
    transition: 500ms linear;
    transform: scale(90%);
    outline: none;
  }

  form button:hover {
    background-color: rgb(50, 6, 225);
    transform: scale(100%);
  }

  .menu {
    display: block;
    margin-top: -5px;
    margin-left: 250px;
    transform: scale(85%);
    opacity: 0.5;
    transition: 800ms ease;
    cursor: pointer;
    position: absolute;
  }
  .menu:hover{
    transform: scale(100%);
    opacity: 1;  
  }

}
